<div class="add-product-container">
    <h1>Add New Product</h1>
    <form action="/add-product" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="productImage">Product Image</label>
            <input type="file" id="productImage" name="productImage" accept="image/*" required>
        </div>
        <button type="submit" class="login-button">Upload Product</button>
    </form>
</div>